* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgba(0,0,0,0.7) url(./taco.png);
    background-blend-mode: multiply;
    color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    display: block;
}

a:hover{
    color: red;
}

:target {
    color: red;
}

/**********
NAVBAR
**********/

.nav{
    /* height: 100px; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 150px;
    align-items: center;
    /* padding: 0 2rem; */
    
}

.nav__header {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

.nav__links {
    display: grid;
    grid-template-columns: 8rem 8rem 8rem;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    height: 100%;
    align-items: center;
}

.nav__link {
    height: 100%;
    border: 1px solid white;
    align-items: center;
    display: grid;
}

.nav__link a {
    display: block;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    
}

#content{
    height: calc(100vh - 150px);
    max-width: 1400px;
    margin: auto;
}

.img {
    object-fit: cover;
    width: 100%;
}

/**********
HERO
**********/
.hero {
    height: calc(100vh - 150px);
    text-align: left;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.hero__header {
    font-size: 2rem;
    padding-bottom: 2rem;
}

.hero__description  {
    font-size: 1.5rem;
}

/**********
MENU
**********/
.menu {
    height: calc(100vh - 150px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1rem;
}

.menu__title {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .125rem;
}
.menu__item {
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* border: 2px solid white; */
}

.menu__description {
    width: 100%;
    display: grid;
    place-items: center;
}
.menu__img {
    width: 100%;
}

.menu__img img {
    object-fit: cover;
    width: 100%;
    display: block;
    width: 300px;
    height: 200px;
}

/**********
CONTACT
**********/
.contact {
    height: calc(100vh - 150px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap: 1rem;
    border: 1px solid yellow;
}

.contact__details {
    border: 1px solid red;
}