* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: rgba(0,0,0,0.7) url(./images/taco.png);
    background-blend-mode: multiply;
    color: white;
    line-height: 1.25;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    display: block;
    letter-spacing: 0.125rem;
}

a:hover{
    color: red;
}

:target {
    color: red;
}

::placeholder {
    color: snow;
}

/**********
NAVBAR
**********/

.nav{
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
    height: 150px;
    align-items: center;
}

.nav__header {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

.nav__links {
    display: grid;
    grid-template-columns: 8rem 8rem 8rem;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    height: 100%;
    align-items: center;
}

li {
    height: 100%;
    align-items: center;
    display: grid;
}

.active {
    text-decoration: overline;
    text-decoration-color: gold;
}

.nav__link {
    display: block;
    font-size: 1.25rem;
    cursor: pointer;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    
}

#content{
    height: calc(100vh - 150px - 4rem); 
    max-width: 1400px;
    width: 90vw;
    margin: auto;
}

.img {
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 768px){
    #content {
        max-width: 90vw;
        height: auto;
    }

    .nav {
        max-width: 90vw;
        margin: auto;
    }

    .nav__links {
        height: 100%;
        width: 100%;
        padding: 1rem;
        display:inline-flex
    }
}
/**********
HERO
**********/
.hero {
    height: calc(100vh - 150px - 4rem); 
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__header {
    font-size: 2rem;
    padding-bottom: 2rem;
}

.hero__description  {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px){
    .hero {
        /* min-height: 100vh; */
    }
}

/**********
MENU
**********/
.menu {
    /* height: calc(100vh - 150px - 4rem); */
    height: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    place-items: center;
    gap: 2rem;
    padding: 2rem 0;
}

.menu__title {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .125rem;
}
.menu__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu__description {
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 1.3rem;
}
.menu__img {
    width: 100%;
}

.menu__img img {
    object-fit: cover;
    width: 100%;
    display: block;
    width: 300px;
    height: 200px;
    border-radius: 0.5rem;
}

@media screen and (max-width: 768px){
    .menu {
        grid-template-columns: 1fr;
        height: 100%;
        margin-top: 2rem;
    }
    .menu__item {
        grid-template-columns: 1fr;
    }

    .menu__description {
        padding: 1rem;
    }
}

@media screen and (min-width: 769px){
    .menu {
        grid-template-columns: 1fr;
        height: 100%;
        margin-top: 2rem;
    }
    .menu__item {
        grid-template-columns: 1fr 1fr;
    }

    .menu__description {
        padding: 1rem;
    }
}

@media screen and (min-width: 1200px){
    .menu {
        grid-template-columns: 1fr 1fr;
        height: 100%;
        margin-top: 2rem;
    }
    .menu__item {
        grid-template-columns: 1fr 1fr;
    }

    .menu__description {
        padding: 1rem;
    }
}

/**********
CONTACT
**********/

.contact {
    height: calc(100vh - 150px - 4rem);
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

.contact__address,
.contact__hours,
.contact__phone {
    width: 100%;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
}

.contact__details p {
    padding: 0.5rem;
}

@media screen and (max-width: 992px){
    .contact {
        grid-template-columns: 1fr;
        height: auto;
    }

    .contact__details p {
        text-align: left;
    }

    .contact__address,
    .contact__hours,
    .contact__phone {
        padding: 2rem 0;
    }
}

/**********
FORM
**********/
.form {
    display: grid;
    place-items: center;
    width: 500px;
}

.form__name,
.form__email,
.form__message {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    border: 1px solid snow;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: snow;
}

.form__message {
    height: 200px;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background: transparent;
    color: snow;
    border: 1px solid white;
    letter-spacing: .125rem;
    cursor: pointer;
}

.btn:hover {
    background: snow;
    color: black;
}

@media screen and (max-width: 768px){
    .form {
        width: 320px;
        margin-top: 2rem;
    }

    .form__name,
    .form__email,
    .form__message {
        margin: 1rem 0;
    }
}

/**********
FOOTER
**********/
.footer {
    display: grid;
    place-items: center;
    height: 4rem;
    text-align: center;
    background: black;
}